.mainDiv {
    margin: 0;
    padding: 0px;
    background-color: var(--secondary-colour);
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container {
    width: 90%;
    background-color: white;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: var(--container-radius);
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 5vh;
}

/* Left side */
.wineLeftSide {
    flex: 50%;
    width: 100%;
    padding: 30px;
}

.wineLeftSide img {
    width: 100%;
    max-height: 70vh;
    object-fit: contain;
    box-shadow: 0 12px 35px #8e183b39;
    border-radius: var(--image-radius);
}
/* ---------- */

/* Right side */
.wineRightSide {
    flex: 50%;
    display: flex;
    flex-direction: column;
    color: var(--primary-colour);
}

.wineTitle {
    margin-top: 6vh;
    font-size: var(--large-title-font);
}

.wineRating {
    margin-top: 2vh;
}

.wineRating span {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: var(--label-font);
}

.wineRating a {
    color: var(--primary-colour);
}

.winePrice {
    margin-top: 7vh;
    font-size: var(--large-title-font);
    font-weight: bold;
}

.wineDescription {
    font-size: var(--description-font);
    margin-top: 5vh;
}

.wineDetails {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 5vh;
    gap: 5px;
    width: 70%;
    max-height: 15vh;
}

.wineDetails div {
    flex: 0 0 calc(50% - 10px);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    align-items: center;
    font-size: var(--small-item-font);
    border: 2px solid var(--primary-light-colour);
    border-radius: var(--smalldiv-radius);
    color: var(--primary-colour);
}

.wineBtn {
    width: 60%;
    margin-top: 5vh;
}

.wineBtn button {
    width: 100%;
    background: linear-gradient(135deg, var(--primary-light-colour), var(--primary-colour));
    color: white;
    border: none;
    padding: 15px;
    border-radius: var(--inputs-radius);
    font-size: var(--label-font);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wineBtn button:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 35px #8e183b39;
}

.wineBtn button:active {
    transform: translateY(0);
}
/* ---------- */

/* Mobile */
@media (max-width: 768px)
{
    .container {
        flex-direction: column;
        gap: 0;
    }
    .wineLeftSide
    {
        padding: 10px;
    }
    .wineRightSide {
        margin-left: 8vw;
    }
    .wineDescription
    {
        font-size: var(--label-font);
    }
    .wineDetails
    {
        width: 100%;
        margin-top: 3vh;
    }
    .wineDetails div 
    {
        font-size: var(--label-font);
    }
    .wineBtn
    {
        margin-bottom: 2vh;
    }
    .wineBtn button
    {
        padding: 8px;
        font-weight: 400;
        margin-left: 12vw;
    }
}
/* ---------- */