.reviewPage {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  padding: 60px 40px 40px 40px;
  width: 70%;
  max-height: 85vh;
  overflow: hidden;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
  animation: slideUp 0.3s ease-out forwards;
  position: relative;
  top: 5%;
  color: var(--primary-colour);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
  animation: fadeIn 0.3s ease forwards;
}


.summaryBox {
  display: flex;
  margin-top: 2vh;
  gap: 40px;
  padding: 20px;
  background: #fff;
  border-radius: var(--inputs-radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

.leftSummary {
  text-align: center;
}

.bigRating {
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-colour);
}

.stars {
  font-size: var(--description-font);
}

.totalRatings {
  font-size: var(--label-font);
  color: #777;
}

.rightBars {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.barRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.barRow span {
  display: flex;
  align-items: center;
}

.bar {
  flex: 1;
  height: 8px;
  background: #eee;
  border-radius: 4px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: var(--primary-colour);
  border-radius: 4px;
}

.reviewList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 40vh;
  overflow-y: auto;
}

.reviewItem {
  display: flex;
  gap: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewContent {
  flex: 1;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.date {
  font-size: var(--label-font);
  color: #888;
  margin-bottom: 6px;
}

.text {
  font-size: var(--label-font);
  line-height: 1.4;
}

.columns {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.leftCol {
  flex: 1.3;
}

.rightCol {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: var(--inputs-radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  height: fit-content;
  position: sticky;
  top: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: var(--inputs-radius);
  border: 1px solid #ccc;
  margin-bottom: 15px;
  margin-top: 1vh;
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  border-radius: var(--inputs-radius);
  border: 1px solid #ccc;
  resize: none;
  margin-bottom: 15px;
}

.submitBtn {
  width: 100%;
  padding: 12px;
  background: var(--primary-colour);
  color: var(--secondary-colour);
  border: none;
  border-radius: var(--inputs-radius);
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.submitBtn:hover {
  background: var(--primary-light-colour);
}

.closeBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  background: var(--primary-colour);
  border: none;
  font-size: var(--label-font);
  font-weight: bold;
  color: var(--secondary-colour);
  cursor: pointer;
  border-radius: 8px;
  padding: 6px 12px;
  transition: 0.2s ease;
  z-index: 1000;
}

.closeBtn:hover {
  background: var(--primary-light-colour);
}


@media (max-width: 768px) {
  .summaryBox {
    flex-direction: column;
  }

  .columns {
    flex-direction: column;
  }

  .rightCol {
    position: static;
  }
  .headerRow
  {
    flex-direction: column;
  }
}

@keyframes slideDownFade {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateY(20px) scale(0.97);
  }
}

.closing {
  animation: slideDownFade 0.3s ease forwards;
}

@keyframes overlayFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overlayClosing {
  animation: overlayFadeOut 0.3s ease forwards;
}
