.mainDiv {
    margin: 0;
    padding: 0;
    background-color: #F9F6F2;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 90%;
    background-color: white;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.contentArea {
    display: flex;
    gap: 100px;
    padding: 30px;
    align-items: flex-start;
}

/* Filter */
.filterPanel {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 6px;
    margin: 30px;
    position: sticky;
    top: 120px;
}

.filterPanel > .filterBlock:first-child
{
    border: none;
    box-shadow: none;
    padding: 0;
    
}

.filterBlock {
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
    border: 2px solid #8b1e3f91;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    color: #8B1E3F;
    position: relative;
}

.filterBlock i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8B1E3F;
    pointer-events: none;
}

.filterBlock input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    color: #8B1E3F;
    border-radius: 12px;
    border: 2px solid #b62752;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    outline: none;
}

.filterBlock input:focus {
    border-color: #da4f79;
    box-shadow: 0 8px 25px #8e183b45;
}

.filterTitle {
    padding: 10px;
    font-size: 22px;
    margin-bottom: 30px;
    border-bottom: 3px solid #8B1E3F;
    padding-bottom: 8px;
    font-weight: 700;
}

.filterTypes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    gap: 16px;
    cursor: pointer;
}

.filterTypes span {
    border-bottom: 2px solid rgba(139, 30, 63, 0.2);
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 6px;
}

.filterPrice {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 600;
}

.filterPrice p {
    text-align: center;
}

.filterBtn {
    background-color: #8B1E3F;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.filterBtn:hover {
    background-color: #d63867;
}

.filterToggle {
    display: none;
}
/* -------- */

.itemsGrid {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    gap: 30px;
    margin: 20px;
}

/* Mobile */
@media (max-width: 768px) {
    .contentArea {
        position: relative;
        flex-direction: column;
        padding: 10px;
    }

    .filterToggle {
        display: block;
        background-color: #8B1E3F;
        color: white;
        border: none;
        padding: 12px 18px;
        border-radius: 6px;
        font-size: 18px;
        cursor: pointer;
        margin: 10px auto;
        z-index: 20;
    }

    .filterPanel {
        position: absolute;
        top: 60px;
        left: 0;
        width: calc(100% - 40px);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 15;
        margin: 30px 20px;
    }

    .filterPanel.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .itemsGrid {
        margin: 0;
        justify-content: center;
    }
}

/* --------- */