.mainDiv {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9F6F2;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 90%;
    height: auto;
    margin-top: 8vh;
    min-height: 680px;
    background-color: white;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.contentArea {
    display: flex;
    gap: 10px;
    padding: 30px;
    align-items: flex-start;
}

.filterPanel {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 6px;
    margin: 30px;
}

.filterBlock {
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
    border: 2px solid #8b1e3f91;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    color: #8B1E3F;
}

.filterTitle {
    padding: 10px;
    font-size: 22px;
    margin-bottom: 20px;
    border-bottom: 3px solid #8B1E3F;
    padding-bottom: 8px;
    font-weight: 700;
}

.filterTypes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    gap: 16px;
}

.filterTypes span {
    border-bottom: 2px solid rgba(139, 30, 63, 0.2);
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 6px;
}

.filterPrice {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

.filterBtn {
    background-color: #8B1E3F;
    color: white;
    border: none;
    padding: 10px 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.filterBtn:hover {
    background-color: #d63867;
}

.itemsGrid {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    gap: 30px;
    margin: 20px;
    justify-content: flex-start;
}

/* Mobile */
@media (max-width: 768px) {}

/* --------- */