.mainDiv {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-colour);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.blurred {
  filter: blur(8px);
  opacity: 0.4;
  transition: all 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
  animation: fadeIn 0.3s ease forwards;
}

.container {
    width: 90%;
    background-color: white;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: var(--container-radius);
}

.contentArea {
    display: flex;
    gap: 100px;
    padding: 30px;
    align-items: flex-start;
}

/* Filter */
.filterPanel {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: var(--smalldiv-radius);
    margin: 30px;
    position: sticky;
    top: 120px;
}

.filterPanel>.filterBlock:first-child {
    border: none;
    box-shadow: none;
    padding: 0;

}

.filterBlock {
    background-color: #fff;
    padding: 16px;
    border-radius: var(--smalldiv-radius);
    border: 2px solid var(--primary-colour);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    color: var(--primary-colour);
    position: relative;
    animation: slideDown 0.5s ease forwards;
    opacity: 0;
}

.filterBlock i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--label-font);
    color: var(--primary-colour);
    pointer-events: none;
}

.filterBlock input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    color: var(--primary-colour);
    border-radius: var(--smalldiv-radius);
    border: 2px solid var(--primary-colour);
    font-size: var(--label-font);
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
    outline: none;
}

.filterBlock input:focus {
    border-color: var(--primary-light-colour);
    box-shadow: 0 8px 25px #8e183b39;
}

.filterTitle {
    padding: 10px;
    font-size: var(--title-font);
    margin-bottom: 30px;
    border-bottom: 3px solid var(--primary-colour);
    padding-bottom: 8px;
    font-weight: 700;
}
.filterTitle span
{
    cursor: pointer;
}

.filterTypes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    gap: 16px;
    cursor: pointer;
}

.filterTypes span {
    border-bottom: 2px solid rgba(139, 30, 63, 0.2);
    font-weight: bold;
    font-size: var(--label-font);
    padding-bottom: 6px;
}

.filterPrice {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: flex-start;
    font-size: var(--label-font);
    font-weight: 600;
}

.filterPrice p {
    text-align: center;
}

.filterToggle {
    display: none;
}

/* -------- */

.itemsGrid {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    gap: 30px;
    margin: 20px;
}

/* Mobile */
@media (max-width: 768px) {
    .contentArea {
        position: relative;
        flex-direction: column;
        padding: 10px;
    }

    .filterToggle {
        display: block;
        background-color: var(--primary-colour);
        color: white;
        border: none;
        padding: 12px 18px;
        border-radius: var(--smalldiv-radius);
        font-size: var(--label-font);
        cursor: pointer;
        margin: 10px auto;
        z-index: 20;
    }

    .filterPanel {
        position: absolute;
        top: 60px;
        left: 0;
        width: calc(100% - 40px);
        background-color: white;
        padding: 20px;
        border-radius: var(--smalldiv-radius);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 15;
        margin: 30px 20px;
    }

    .filterPanel.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .itemsGrid {
        margin: 0;
        justify-content: center;
    }
}

/* --------- */

/* Animation */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutRight {
    to {
        opacity: 0;
        transform: translateX(-40px);
    }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.filterBlock:nth-child(3) {
    animation-delay: 0.30s;
}

.filterBlock:nth-child(2) {
    animation-delay: 0.15s;
}

.filterBlock:nth-child(1) {
    animation-delay: 0s;
}

/* ---------- */