::-webkit-scrollbar{
    display: none;
}


.HomeMain
{
     color: #a82a4f;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    scrollbar-width: none;
    display: flex;
    width: 100%;
    gap: 0;
    flex-direction: column;
}
.HomeFirst{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: url("../public/HomeBG.png");
}
.WineBottle{
    transform: scale(10%);
    position: absolute;
    visibility: hidden;
}
.TextContainer
{
    margin-left: 40%;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: larger;
    width: 40vw;
    h2{
        text-decoration: underline;
    }
    h1{
        font-weight: bold;
    }
}
@media screen and (max-width: 768px)
{
 .TextContainer{
    width: 80vw;
    margin-left: 0%;
    font-size: large;
 }
 .Stars{
    font-size: 150%;
 }
}
.HomeSecond{
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    z-index: -10;
    background-color: #23020A;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Title{
     color: #a82a4f;
     transform: scale(150%);
    margin-top: 2%;
    margin-bottom:2%;
    font-size: xx-large;
    text-shadow: 2px 2px black;
}
.FavCardContainer{
    display: flex;
    width: 90%;
    gap: 5%;
    height: 80%;
    justify-content: center;
    align-items: center;
}
.FavCardUp
{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 70%;
    background-color: #23020A;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 4%;
    border-radius: 1%;
}
.FavCardDown
{
    display: flex;
    flex-direction: column;
    border-radius: 1%;
    margin-bottom: 4%;
    width: 20%;
    height: 70%;
    z-index: -5;
    background-color: #23020A;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.ImgBg
{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    img{

        transform: scale(130%);
    }
}
.CardTitle{
    text-shadow: 0px 1px 0px #a82a4f (255, 255, 255, 0.397);
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    display: block;
    text-align: left;
    padding: 3%;
    font-size: x-large;
}
.CardDesc{
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    z-index: 1;
    display: block;
    margin-top: 10%;
}
.CardRating{
    font-size: xx-large;
    float: left;
    padding: 3%;
}
.CardPrice
{
    font-size: xx-large;
    text-decoration: underline;
    float: right;
    padding: 3%;
}
.UnderLine{
    text-decoration: underline;
}
