.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-colour);
  color: #fff;
  padding: 1rem;
  border-bottom: solid 4px var(--primary-colour);
  top: 0;
  position: sticky;
  overflow: hidden;
  z-index: 5000;
}

.logo {
  max-width: 160px;
  width: 100%;
  height: auto;
}

.navlinks {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
  justify-content: space-between;
}

.navbarright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pageLink {
  color: var(--primary-colour);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;  
  padding: 1rem;  
}

.carticon, .usericon
{
    color: var(--primary-colour);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; 
    padding: 1rem;
}

/* actives */
.usericonlogin, .carticonactive
{
    color: white;
    background-color: var(--primary-colour);
    font-size: 20px;
    text-decoration: none; 
    transition: 1s;
    font-weight: 600;
    padding: 1rem;
    border-radius: 30px;
}

.pageLinkactive
{
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;   
  background-color: var(--primary-colour);
  font-weight: 600;
  padding: 1rem;
  border-radius: 30px;
  transition: 1s;
}
/* -------- /

/* Navbar on Mobile */
.mobile
{
  display: none;
}

.mobile i
{
  color: var(--primary-colour);
}
/* -------- */

/* Mobile */
@media screen and (max-width: 768px)
{
  .navlinks
  {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -310px;
    width: 300px;
    height: 100vh;
    background-color: var(--primary-colour);
    padding: 40px 0 0 10px;
    gap: 50px;
    transition: 0.3s ease-in-out;
    z-index: 1000;
  }

  .navlinksActive
  {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: 0px;
    width: 300px;
    height: 100vh;
    gap: 50px;
    background-color: var(--primary-colour);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    z-index: 1000;
  }

  .pageLink
  {
      color: #ffffff;
  }

  .mobile
  {
    display: block;
  }

  .mobile i
  {
    font-size: 24px;
    cursor: pointer;
  }

  .logo
  {
    max-width: 130px;
  }
}
/* -------- */