.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-colour);
  color: #fff;
  padding: 1rem;
  border-bottom: solid 4px var(--primary-colour);
  top: 0;
  position: sticky;
  z-index: 9999;
}
.mobileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0);
  z-index: 9998;
}

.showStep {
  display: block;
}

.hideStep {
  display: none;
}

.hideLogo {
  display: block;
}

.navbarcenter.hide {
  display: none;
}

.logo {
  max-width: 160px;
  width: 100%;
  height: auto;
}

.navlinks {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
  justify-content: space-between;
}

.navbarright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navbarright p
{
  color: var(--primary-colour);
  font-size: var(--description-font);
}

.pageLink {
  color: var(--primary-colour);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem;
}

.carticon,
.usericon {
  color: var(--primary-colour);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem;
}

.userLogout, .adminBtn
{
  color: var(--primary-colour);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: var(--inputs-radius);
}

/* actives */
.usericonlogin,
.carticonactive {
  color: white;
  background-color: var(--primary-colour);
  font-size: 20px;
  text-decoration: none;
  transition: 1s;
  font-weight: 600;
  padding: 1rem;
  border-radius: 30px;
}

.pageLinkactive {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  background-color: var(--primary-colour);
  font-weight: 600;
  padding: 1rem;
  border-radius: 30px;
  transition: 1s;
}

/* -------- /

/* Navbar on Mobile */
.mobile {
  display: none;
}

.mobile i {
  color: var(--primary-colour);
}

/* -------- */

/* Mobile */
@media screen and (max-width: 768px) {
  .navlinks {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 85px;
    width: 300px;
    right: 0;
    transform: translateX(300px);
    height: calc(100vh - 70px);
    background-color: var(--primary-colour);
    padding: 40px 0 0 10px;
    gap: 50px;
    transition: transform 0.3s ease;
    z-index: 99999;
  }

  .navlinksActive {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 85px;
    right: 0;
    transform: translateX(0);
    width: 300px; 
    height: calc(100vh - 70px);
    gap: 50px;
    background-color: var(--primary-colour);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    z-index: 99999;
  }

  .navbarcenter.hide {
    display: block;
  }

  .pageLink {
    color: #ffffff;
  }

  .mobile {
    display: block;
  }

  .mobile i {
    font-size: 24px;
    cursor: pointer;
  }

  .usericon,
  .carticonactive {
    display: none;
  }

  .hideLogo {
    display: none;
  }
}

/* -------- */